.DS_Store
.vscode/
__pycache__
*.wav
*.png
/.venv
/src/VAIAWorkshop.egg-info
/data
output/train/checkpoints/model_e0.pt
output/train/checkpoints/model_e1.pt
output/train/checkpoints/model_e2.pt
output/train/checkpoints/model_e3.pt
output/train/checkpoints/model_e4.pt
output/train/checkpoints/model_e5.pt
output/train/checkpoints/model_e6.pt
output/train/checkpoints/model_e7.pt
output/train/checkpoints/model_e8.pt
output/train/checkpoints/model_e9.pt
output/train/checkpoints/model_e10.pt
output/train/checkpoints/model_e11.pt
output/train/checkpoints/model_e12.pt
output/train/checkpoints/model_e13.pt
output/train/checkpoints/model_e14.pt
output/train/checkpoints/model_e15.pt
output/train/checkpoints/model_e16.pt
output/train/checkpoints/model_e17.pt
output/train/checkpoints/model_e18.pt
output/train/checkpoints/model_e19.pt
